@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rubik+Mono+One&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

$white: #F6F2EF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Space Mono', monospace;
  overflow-x: hidden;
}

header {
  padding: 70px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 60px;
  text-align: center;
}

.header2 {
  display: flex;
  font-family: 'Caveat', cursive;
  h2 {
    font-size: 2rem;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%;
  top: 93px;
  cursor: pointer;
}

.burger div {
  width: 40px;
  border-radius: 1rem;
  height: 8px;
  background-color: #000;
}

.burger div:not(:last-child) {
  margin-bottom: 5px;
}

nav {
  position: fixed;
  height: 100vh;
  width: 500px;
  background: #8E826D;
  z-index: 1;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.5s;
  padding: 70px 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav a {
  font-family: 'Caveat', cursive;
  font-size: 1.6rem;
  color: #000;
  text-decoration: none;
}

nav hr {
  border-color: #000;
}

.nav-control {
  display: flex;
  justify-content: space-between;
}

.nav-control img {
  cursor: pointer;
}

.nav-control p {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3rem;
}

.nav-social-icons img {
  cursor: pointer;
}

.nav-social-icons > *:not(:last-child) {
  margin-right: 2rem;
}

.show {
  transform: translateX(0);
}

//home page
.home-gallery {
  display: flex;
  justify-content: space-evenly;
}

.home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.home-button button {
  background: rgba(0, 0, 0, 0);
  border: solid #000 2px;
  font-family: 'Space Mono', monospace;
  padding: 1rem 0;
  width: 275px;
  transition: color 1s, background-color 1s;
  &:hover {
    background: #000;
    color: $white;
  }
}

.home-button > *:not(:last-child) {
  margin-bottom: 2rem;
}

//service page
.common-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.service-col {
  width: 360px;
}

.common-title {
  p {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
  }

  hr {
    border-color: #000;
    margin-bottom: 2rem;
  }
}

.service-name {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.service-name > *:first-child {
  font-weight: bold;
  margin-bottom: 1.4rem;
}

.service-name > *:last-child {
  font-style: italic;
}

//contact page
.contact-timings p:not(:first-child) {
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.contact-timings p span {
  font-weight: normal;
  font-style: italic;
}

.contact-col {
  width: 360px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.contact-col img {
  width: 100%;
  height: auto;
}

.contact-col-img {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contact-col-img {
  width: 500px;
  height: auto;
}

.contact-direction {
  display: flex;
}

.contact-col button {
  width: 275px;
  padding: 1rem 0;
  font-family: 'Space Mono', monospace;
  border: #000 solid 1px;
  background-color: #CE9EA3;
  font-weight: bold;
  transition: background-color 1s;
  &:hover {
    background-color: #000;
    color: $white;
  }
}

.contact-direction img {
  height: 1.4rem;
  width: auto;
  margin-right: 0.5rem;
}

.contact-location {
  margin-bottom: 2rem;
}

.contact-location p:not(:last-child) {
  margin-bottom: 1rem;
}

//products page
.product-gift {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  line-height: 2.2rem;
}

//about page 
.about-page {
  font-size: 1rem;
  padding: 0 4rem;
}

.about-title {
  font-weight: bold;
  padding: 0 0 1rem 0;
  border-bottom: solid #000 1px;
}

.about-founder {
  margin-bottom: 8rem;
}

.about-founder-inside {
  display: flex;
  flex-direction: row;
}

.about-founder_description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-founder_description > *:first-child {
  font-weight: bold;
}

.staff-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.staff-box > *:first-child {
  margin-bottom: 2rem;
}

.staff-box > *:nth-child(2) {
  margin-bottom: 1rem;
  font-weight: bold;
}

.staff-box > *:last-child {
  font-style: italic;
}

//footer section
footer {
  width: 100vw;
  height: 280px;
  background-color: #000;
  color: $white;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  padding: 42px;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-info > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 112px;
  width: 300px;
}

.footer-info > *:nth-child(2) {
  p {
    text-align: center;
  }
}

.footer-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 24rem;
}

.footer-button button {
  font-family: 'Space Mono', monospace;
  background-color: rgba(0, 0, 0, 0);
  border: solid $white 1px;
  color: #F6F2EF;
  padding: 1rem 60px;
  transition: 0.5s;
  &:hover {
    background: $white;
    color: #000;
  }
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 3rem ;
}

.footer-icons > * {
  cursor: pointer;
}