@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Rubik+Mono+One&family=Space+Mono&display=swap');

$white: #F6F2EF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
}

header {
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 60px;
  text-align: center;
}

.header2 {
  display: flex;
  font-family: 'Caveat', cursive;
  h2 {
    font-size: 2rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 280px;
  background-color: #000;
  color: $white;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  padding: 42px;
}

.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-info > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 112px;
  width: 300px;
}

.footer-info > *:nth-child(2) {
  p {
    text-align: center;
  }
}

.footer-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 24rem;
}

.footer-button button {
  font-family: 'Space Mono', monospace;
  background-color: rgba(0, 0, 0, 0);
  border: solid $white 1px;
  color: #F6F2EF;
  padding: 1rem 60px;
  transition: 0.5s;
  &:hover {
    background: $white;
    color: #000;
  }
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 3rem ;
}